<form action='/sign_on' method='post' class="form-inline well">
  <p><input type="text" name='username' placeholder="username" autofocus></p>
  <p><input type="password" name='userpass' placeholder="userpass" autofocus></p>
  <p><input type="password" name='confirmpass' placeholder="confirmpass" autofocus></p>
  <input class="btn primary" type='submit' value='log in'>
</form>